.header img {
  height: 140px;
}

@media screen and (min-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}
@media screen and (min-width: 992px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
  }
}

.header {
  margin: 0px 30px;
  padding: 10px 20px;
  position: sticky;
}

.header nav {
  line-height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  padding: 5px;
}
.count {
  display: flex;
  justify-content: center;
  align-items: center;
}
