.header img {
  height: 180px;
}

@media screen and (min-width: 500px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .count,
  .income {
    width: 80%;
    margin: 20px;
  }
  /* .header img {
    height: 100px;
    text-align: center;

    display: flex;
    justify-content: center;
  } */
  .header nav {
    text-align: center;

    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}
@media screen and (min-width: 992px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
  }
}

.header {
  margin: 0px 30px;
  padding: 10px 20px;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px; */
  /* 
  position: fixed;
  width: 100%; */

  /*  */
}

.header nav {
  line-height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 600;
  padding-left: 30px;
}
nav a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  padding: 5px;
  border-bottom: 1px solid transparent;
  transition: all 0.3s linear;
}
nav a:hover {
  border-bottom: 3px solid #e4e3e3;
}
.count,
.income {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #eeeeee;
  width: 100%;
  padding: 16px;

  border-radius: 8px;
  text-align: center;

  display: flex;
  justify-content: center;
  transition: all 0.3s linear;

  /* align-items:  center; */
}
.count:hover,
.income:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.amo,
.bc {
  /* background-color: aqua; */
  font-size: 80px;
  font-weight: 100;
}
.amo {
  color: salmon;
}
.bc {
  color: teal;
}
